/* Padding de containers */


/*input[type=text]:focus, input[type=password]:focus {
background-color: #000;
}*/


hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* color de los hyperlinks */
a {
color: dodgerblue;
}

#formRegistro{
    padding-left: 10px;
    padding-right: 10px;
}


